{% extends 'careerindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>Edit Mock Test Questions </p>
    <table width="535" border="1" class="table table-striped">
      <tr>
        <th width="80" scope="col">Question_id</th>
        <th width="60" scope="col">Question</th>
        <th width="60" scope="col">Options1</th>
        <th width="58" scope="col">Option2</th>
        <th width="68" scope="col">Option 3 </th>
        <th width="53" scope="col">Option4</th>
        <th width="53" scope="col">Answer</th>
        <th width="110" scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.id}}&nbsp;</td>
        <td>{{i.question}}&nbsp;</td>
        <td>&nbsp;{{i.option1}}</td>
        <td>&nbsp;{{i.option2}}</td>
        <td>&nbsp;{{i.option3}}</td>
        <td>{{i.option4}}&nbsp;</td>
         <td>&nbsp;{{i.answer}}</td>
        <td><div align="right"><a href="{% url 'deletemockquestion' id=i.id %}">delete</a></div></td>
      </tr>
      {% endfor %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp; </p>
  </div>
</form>
</body>
{% endblock %}
