{% extends 'careerindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="{% url 'uploadvideo' %}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <p>&nbsp;</p>
    <table width="350" border="1" class="table table-striped">
      <tr>
        <th width="90" scope="col">videos</th>
        <th width="138" scope="col">date</th>
        <th width="100" scope="col">delete</th>
      </tr>
      {% for i in val%}
      <tr>
        <td><a href="./media/{{i.video}}">{{i.video}}</a>;</td>
        <td>{{i.date}}&nbsp;</td>
        <td><a href="{% url 'deletevideo' id=i.id %}">delete</a></td>
      </tr>
      {% endfor %}
    </table>
    <br>


    <p>&nbsp;</p>
    <table width="348" border="1" class="table table-striped">
      <tr>
        <th width="117" scope="row">Upload Videos </th>
        <td width="67"><label>
          <input type="file" name="file" required/>
        </label></td>
      </tr>
      <tr>
        <th colspan="2" scope="row">&nbsp;</th>
      </tr>
      <tr>
        <td></td>
        <th colspan="2" scope="row"><label>
          <input name="Submit" type="submit" value="submit" />
        </label></th>
      </tr>
    </table>
    <p>&nbsp;    </p>
  </div>
</form>
</body>
{% endblock %}
