{% extends 'companyindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="vacancyadd">
  <div align="center">
    <p>&nbsp;</p>
    <p>ADD VACANCY </p>
    <table width="249" height="186" border="1" class="table table-striped">
      <tr>>
      <tr>
        <th width="86" scope="row">Vacancy</th>
        <td width="147"><label>
          <input type="text" name="textfield" required />
        </label></td>
      </tr>
      <tr>
        <th scope="row" width="140">Requirments</th>
        <td><textarea type="text" name="textfield2" required></textarea></td>
      </tr>
        <tr>
        <th scope="row">Year of Experiance</th>
        <td><input type="number" name="exp" required/></td>
      </tr>
      <tr>
        <th scope="row">No of Vacancy</th>
        <td><input type="number" name="textfield3" required/></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="Submit" />
        </label></th>
      </tr>
    </table>
  </div>
</form>
</body>
{% endblock %}
