{% extends 'companyindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1" class="table table-striped>
      <tr>
        <th ">Vacancy</th>
        <th >candidate name </th>
        <th >resume</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>&nbsp;{{i.vid.vacancy}}</td>
        <td>{{i.candidate_id.name}}&nbsp;</td>
        <td><a href="./media/{{i.resume}}">{{i.resume}}</a></td>
      </tr>
      {% endfor %}
      </table>
  </div>
</form>
</body>
{% endblock %}
