{% extends 'companyindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="postcompliant">
  <div align="center">


    <b>View Reply </b>
    <table width="267" border="1" class="table table-striped">
      <tr>
      <tr>

        <th width="68" scope="col">Compliant</th>
        <th width="4" scope="col">Date</th>
        <th width="4" scope="col">reply</th>
        <th width="33" scope="col">Action</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.complaint}}&nbsp;</td>
        <td>{{i.date}}</td>
        <td>{{i.reply}}</td>
        <td><div align="right"><a href="{% url 'deletecompliant' id=i.id %}">delete</a></div></td>
      </tr>
{% endfor %}
    </table>
    <p>&nbsp; </p>
  </div>


    <table width="260" border="1" class="table table-striped">
      <tr>
      <tr>
        <th >Post Compliant</th>
        <td >
          <input name="textfield" type="text" maxlength="1000" />
        </td>
      </tr>
      
      <tr><td></td>
        <th ><label>
          <input type="submit" name="Submit" value="Submit" />
        </label></th>
      </tr>
    </table>
<br>

</form>
</body>
{% endblock %}
