{% extends 'candidateindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="postfeedback">
  <div align="center">

    <table width="200" border="1" class="table table-striped">
      <tr>
        <th scope="row">Feedback</th>
        <td><label>
          <input type="text" name="textfield" required   />
        </label></td>
      </tr>
      <tr>
        <th colspan="2" scope="row">&nbsp;</th>
      </tr>
      <tr>
        <td></td>
        <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="Submit" />
        </label></th>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
{% endblock %}

