{% extends 'candidateindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>&nbsp;</p>
    <p>VIEW VACANCY </p>
    <table width="444" border="1" class="table table-striped">
      <tr>
        <th >vacancy</th>
        <th >company name</th>
        <th >No of Vacancy </th>
        <th >Experiance</th>
        <th >Rrequirments</th>
        <th >Apply</th>

        <th >attend test</th>
        <th></th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.vacancy}}&nbsp;</td>
        <td>{{i.cid.cname}}&nbsp;</td>
        <td>&nbsp;{{i.no_of_vacancy}}</td>
         <td>{{i.experiance}}</td>
        <td>{{i.requirments}}</td>

        </td>

        <td><div align="right">
          <label>
          <a href="{% url 'apply' id=i.id %}#about">apply</a>
          </label>
        </div></td>
        <td><a href="{% url 'viewterms' id=i.id %}#about">attend test</a> </td>
      </tr>{% endfor %}
    </table>
  </div>
</form>
</body>
{% endblock %}

