<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>&nbsp;</p>
    <p>VIEW VACANCY </p>
    <table width="444" border="1">
      <tr>
        <th width="54" scope="col">vacancy</th>
        <th width="54" scope="col">company name</th>
        <th width="92" scope="col">No of Vacancy </th>
        <th width="135" scope="col">Rrequirments</th>
        <th width="135" scope="col">Apply</th>
        <th width="135" scope="col">attend test</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.vacancy}}&nbsp;</td>
        <td>{{i.cid.cname}}&nbsp;</td>
        <td>&nbsp;{{i.no_of_vacancy}}</td>
        <td>{{i.requirments}}<div align="right"></div></td>

        <td><div align="right">
          <label>
          <a href="{% url 'apply' id=i.id %}">apply</a>
          </label>
        </div></td>
        <td><a href="attendtest">attend test</a> </td>
      </tr>{% endfor %}
    </table>
  </div>
</form>
</body>
</html>
