{% extends 'candidateindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>Test Result</p>
    <table width="600" border="1" class="table table-striped">
      <tr>
        <th scope="col">vacancy</th>
        <th scope="col">company</th>
        <th scope="col">Mark</th>
        <th scope="col">Date</th>
        <th>Resume Score</th>
      </tr>
   {% for i in val %}
      <tr>
        <td>&nbsp;{{i.question_id_id__vid_id__vacancy}}</td>
        <td>&nbsp;{{i.question_id_id__vid_id__cid_id__cname}}</td>
        <td>&nbsp;{{i.sum}}</td>
        <td>&nbsp;{{i.date}}</td>
          <td>{{i.predicted_score}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp; </p>
  </div>
</form>
</body>
{% endblock %}
