{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="careerreg">
  <div align="center">
    <table width="303" border="1" class="table table-striped">
      <tr>
        <th colspan="2" scope="row">ADD CAREER GUIDANCE </th>
      </tr>
      <tr>
        <!-- <th width="133" scope="row"> Name</th>
        <td width="154"><label>
          <input type="text" name="textfield" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">Place</th>
        <td><label>
          <input type="text" name="textfield2" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">Post</th>
        <td><input type="text" name="textfield4" /></td>
      </tr>
      <tr>
        <th scope="row">Pin</th>
        <td><input type="text" name="textfield23" /></td>
      </tr>
      <tr>
        <th scope="row">Phone</th>
        <td><input type="text" name="textfield5" /></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><input type="text" name="textfield6" /></td>
      </tr>
      <tr> -->
        <th scope="row">Username</th>
        <td><input type="text" name="user"  required pattern="[A-Z a-z.]{3,25}" /></td>
      </tr>
      <tr>
        <th scope="row">password</th>
        <td><input type="text" name="pwd" required pattern="[A-Z a-z.]{3,25}" /></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label>
          <input name="Submit" type="submit" value="SUBMIT" />
        </label></th>
      </tr>
      </table>  
    <p><a href="#">Login</a></p>
    <p><a href="#"></a></p>
  </div>
</form>
</body>
{% endblock %}
