<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post"  >
  <div align="center">
    <p>&nbsp;</p>
    <p>VERIFY COMPANY </p>
    <table width="726" border="1" class="table table-striped">
      <tr>
        <th width="54" scope="col">COMPANY_ID</th>
        <th width="92" scope="col">COMPANY NAME </th>
        <th width="135" scope="col">PLACE</th>
        <th width="135" scope="col">MAIL</th>
        <th width="135" scope="col">Post</th>
        <th width="135" scope="col">Approve/Reject</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.id}}&nbsp;</td>
        <td>&nbsp;{{i.cname}}</td>
        <td>&nbsp;{{i.place}}</td>
        <td>{{i.mail}}&nbsp;</td>
        <td>{{i.post}}</td>
        <td>
          <label>{% if i.lid.utype == 'pending' %}
            <a href="{% url 'verifcmp' id=i.lid.id %}">verify</a>
            <a href="{% url 'reject' id=i.lid.id %}">reject</a>
          </label>{% else %} {{i.lid.utype}}
          {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
