{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>View Complaint </p>
    <table width="267" border="1" class="table table-striped">
      <tr>

        <th width="76" scope="col">company name</th>
        <th width="68" scope="col">Compliant</th>
        <th width="4" scope="col">Date</th>

        <th width="33" scope="col">reply</th>
      </tr>
      {% for i in val %}
      <tr>

        <td>{{i.cid.cname}}&nbsp;</td>
        <td>{{i.complaint}}&nbsp;</td>
        <td>{{i.date}}&nbsp;</td>
        <td><div align="right">{% if i.reply == 'pending' %}<a href="{% url 'replycomplaint' id=i.id %}">replay</a>{% else %}  {{i.reply}}  {% endif %}</div></td>
      </tr>
      {% endfor %}
    </table>
    <p>&nbsp; </p>
  </div>
</form>
</body>
{% endblock %}
